<a href="https://colab.research.google.com/github/Paulina9555/Repo1/blob/master/SQLAlchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install mysql-server > /dev/null
!service mysql start
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root'"
!pip -q install PyMySQL

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 955.4 kB/s eta 0:00:00

In [ ]:
import sqlalchemy

In [ ]:
from sqlalchemy import create_engine

In [ ]:
#Utworzenie silnika bazy danych ty[y mysql+pymysql
#Dostępne silniki opisane są w dokumentacji: https://docs.sqlalchemy.org/en/20/core/ebgines.html
engine = create_engine('mysql+pymysql://root:root@/')

In [ ]:
engine

Engine(mysql+pymysql://root:***@/)

In [ ]:
connection = engine.connect()

In [ ]:
connection

In [ ]:
from sqlalchemy import text

In [ ]:
connection.execute(text('CREATE DATABASE car_rental'))

In [ ]:
connection.execute(text('USE car_rental'))

In [ ]:
tables_list = list(connection.execute(text('SHOW TABLES')))

In [ ]:
tables_list

[]

In [ ]:
# Zestawienie silnika z utworzoną baza danych car_rental
eng = create_engine('mysql+pymysql://root:root@/car_rental')

In [ ]:
eng

Engine(mysql+pymysql://root:***@/car_rental)

In [ ]:
from sqlalchemy.orm import declarative_base

In [ ]:
base = declarative_base()

In [ ]:
base

sqlalchemy.orm.decl_api.Base

In [ ]:
from sqlalchemy import Column, String, Integer, Date

In [ ]:
#Każda klasa = model jednej tabeli w bazie danych

class Cars(base):
  __tablename__='cars'
  __table.args__={'extend_existing': True}

  car_id = Column(Integer, primary_key=True, autoincrement=True)
  producer = Column(String(30), nullable=False)
  model = Column(String(30), nullable=False)
  year = Column(Integer, nullable=False)
  horse_power = Column(Integer, nullable=False)
  price_per_day = Column(Integer, nullable=False)

def __repr__(self):
  return f'car_id: {self.car_id}, producer: {self.producer}, model: {self.model}, year: {self.year}, horse_power: {self.horse_power}, price_per_day: {self.price_per_day}'

NameError: ignored

In [ ]:
class Clients(base):
  __table.args__={'extend_existing': True}
  __tablename__='clients'

  client_id = Column(Integer, primary_key=True, autoincrement=True)
  name = Column(String(30), nullable=False)
  surname = Column(String(30), nullable=False)
  address = Column(String(30), nullable=False)
  city = Column(String(30), nullable=False)

  def __repr__(sellf):
    return f'client_id: {self.client_id}, name: {self.name}, surname: {self.surname}, address: {self.address}, city" {self.city}'

NameError: ignored

In [ ]:
class Booking(base):
  __tablename__='bookings'
  __table.args__={'extend_existing': True}

  booking_id = Column(Integer, primary_key=True, autoincrement=True)
  client_id = Column(Integer, nullable=False)
  car_id = Column(Integer, nullable=False)
  start_date = Column(Date, nullable=False)
  end_date = Column(Date, nullable=False)
  total_amount = Column(Integer, nullable=False)

  def __repr__(sellf):
    return f'booking_id: {self.booking_id}, client_id: {self.client_id}, car_id: {self.car_id}, start_date: {self.start_date}, end_date" {self.end_date}, total_amount: {self.total_amount}'

NameError: ignored

In [ ]:
base.metadata.create_all(eng)

In [ ]:
from sqlalchemy import MetaData

In [ ]:
metadata = MetaData()

In [ ]:
metadata.reflect(bind=eng)

In [ ]:
metadata.tables.items

In [ ]:
for table_name, _ in metadata.tables.items():
  print(table_name)

bookings
cars
clients

In [ ]:
#Utworzenie sesji
from sqlalchemy.orm import sessionmaker

In [ ]:
Session = sessionmaker(bind=eng)

In [ ]:
Session

sessionmaker(class_='Session', bind=Engine(mysql+pymysql://root:***@/car_rental), autoflush=True, expire_on_commit=True)

In [ ]:
session = Session()

In [ ]:
session

In [ ]:
client_1 = Clients(
    name = 'Anna',
    surname = 'Nowak',
    address = 'ul. Fiołkowa 5',
    city = 'Gdańsk'
)

In [ ]:
client_1

In [ ]:
session.add(client_1)

In [ ]:
session.commit()

In [ ]:
for client in session.query(Clients).all():
  print(client)

<__main__.Clients object at 0x7d96972d8c70>
<__main__.Clients object at 0x7d96972dad10>

In [ ]:
def insert_data(session, base, params):
    session.add(base(**params))
    session.commit()

clients = [
    {'name': 'Jan', 'surname': 'Kowalski', 'address': 'ul. Florianska 12', 'city': 'Krakow'},
    {'name': 'Andrzej', 'surname': 'Nowak', 'address': 'ul. Saska 43', 'city': 'Wroclaw'},
    {'name': 'Michal', 'surname': 'Taki', 'address': 'os. Srodkowe 12', 'city': 'Poznan'},
    {'name': 'Pawel', 'surname': 'Ktory', 'address': 'ul. Stara 11', 'city': 'Gdynia'},
    {'name': 'Anna', 'surname': 'Inna', 'address': 'os. Srednie 1', 'city': 'Gniezno'},
    {'name': 'Alicja', 'surname': 'Panna', 'address': 'os. Duze 33', 'city': 'Torun'},
    {'name': 'Damian', 'surname': 'Papa', 'address': 'ul. Skosna 66', 'city': 'Warszawa'},
    {'name': 'Marek', 'surname': 'Troska', 'address': 'os. Male 90', 'city': 'Radom'},
    {'name': 'Jakub', 'surname': 'Klos', 'address': 'os. Polskie 19', 'city': 'Wadowice'},
    {'name': 'Lukasz', 'surname': 'Lis', 'address': 'os. Podlaskie 90', 'city': 'Bialystok'}]
cars = [
    {'producer': 'Seat', 'model': 'Leon', 'year': 2016, 'horse_power': 80, 'price_per_day': 200},
    {'producer': 'Toyota', 'model': 'Avensis', 'year': 2014, 'horse_power': 72, 'price_per_day': 100},
    {'producer': 'Mercedes', 'model': 'CLK', 'year': 2018, 'horse_power': 190, 'price_per_day': 400},
    {'producer': 'Hyundai', 'model': 'Coupe', 'year': 2014, 'horse_power': 165, 'price_per_day': 300},
    {'producer': 'Dacia', 'model': 'Logan', 'year': 2015, 'horse_power': 103, 'price_per_day': 150},
    {'producer': 'Saab', 'model': '95', 'year': 2012, 'horse_power': 140, 'price_per_day': 140},
    {'producer': 'BMW', 'model': 'E36', 'year': 2007, 'horse_power': 110, 'price_per_day': 80},
    {'producer': 'Fiat', 'model': 'Panda', 'year': 2016, 'horse_power': 77, 'price_per_day': 190},
    {'producer': 'Honda', 'model': 'Civic', 'year': 2019, 'horse_power': 130, 'price_per_day': 360},
    {'producer': 'Volvo', 'model': 'XC70', 'year': 2013, 'horse_power': 180, 'price_per_day': 280}]
bookings = [
    {'client_id': 3, 'car_id': 3, 'start_date': '2020-07-06', 'end_date': '2020-07-08', 'total_amount': 400},
    {'client_id': 6, 'car_id': 10, 'start_date': '2020-07-10', 'end_date': '2020-07-16', 'total_amount': 1680},
    {'client_id': 4, 'car_id': 5, 'start_date': '2020-07-11', 'end_date': '2020-07-14', 'total_amount': 450},
    {'client_id': 5, 'car_id': 4, 'start_date': '2020-07-11', 'end_date': '2020-07-13', 'total_amount': 600},
    {'client_id': 7, 'car_id': 3, 'start_date': '2020-07-12', 'end_date': '2020-07-14', 'total_amount': 800},
    {'client_id': 5, 'car_id': 7, 'start_date': '2020-07-14', 'end_date': '2020-07-17', 'total_amount': 240},
    {'client_id': 3, 'car_id': 8, 'start_date': '2020-07-14', 'end_date': '2020-07-16', 'total_amount': 380},
    {'client_id': 5, 'car_id': 9, 'start_date': '2020-07-15', 'end_date': '2020-07-18', 'total_amount': 1080},
    {'client_id': 6, 'car_id': 10, 'start_date': '2020-07-16', 'end_date': '2020-07-20', 'total_amount': 1120},
    {'client_id': 8, 'car_id': 1, 'start_date': '2020-07-16', 'end_date': '2020-07-19', 'total_amount': 600},
    {'client_id': 9, 'car_id': 2, 'start_date': '2020-07-16', 'end_date': '2020-07-21', 'total_amount': 500},
    {'client_id': 10, 'car_id': 6, 'start_date': '2020-07-17', 'end_date': '2020-07-19', 'total_amount': 280},
    {'client_id': 1, 'car_id': 9, 'start_date': '2020-07-17', 'end_date': '2020-07-19', 'total_amount': 720},
    {'client_id': 3, 'car_id': 7, 'start_date': '2020-07-18', 'end_date': '2020-07-21', 'total_amount': 240},
    {'client_id': 5, 'car_id': 4, 'start_date': '2020-07-18', 'end_date': '2020-07-22', 'total_amount': 1200}]

for client in clients:
    insert_data(session, Clients, client)
for car in cars:
    insert_data(session, Cars, car)
for booking in bookings:
    insert_data(session, Booking, booking)

In [ ]:
# Filtrowanie określonej tabeli - korzystanie z metody filter
result = session.query(Cars).filter(Cars.producer == 'BMW')

In [ ]:
result

In [ ]:
for res in result:
  print(res)

<__main__.Cars object at 0x7d966284a710>
<__main__.Cars object at 0x7d966284b640>

In [ ]:
from sqlalchemy.sql import select

In [ ]:
s = select(Cars).where(Cars.producer == 'BMW')

In [ ]:
conn = eng.connect()

In [ ]:
conn.execute(s).fetchall()

[(7, 'BMW', 'E36', 2007, 110, 80), (17, 'BMW', 'E36', 2007, 110, 80)]

In [ ]:
#Joiny
from sqlalchemy import join

In [ ]:
j=join(Booking, Cars, Booking.car_id == Cars.car_id)

In [ ]:
j

In [ ]:
s = select(Cars).select_from(j).where(Booking.client_id == 5)

In [ ]:
results = conn.execute(s)

In [ ]:
for res in results:
  print(res)

(4, 'Hyundai', 'Coupe', 2014, 165, 300)
(7, 'BMW', 'E36', 2007, 110, 80)
(9, 'Honda', 'Civic', 2019, 130, 360)
(4, 'Hyundai', 'Coupe', 2014, 165, 300)